/*-------------------------------------------------*/
/*typography -------------*/
/*------------------*/
@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Bold.ttf');
	font-weight: 700;
}

/*-------------------------------------------------*/
/*global styles -------------*/
/*------------------*/
.heading-h2 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
	font-size: 29px;
	letter-spacing: 1.3px;
	color: #1b7ac5;
}

.header {
	padding: 12px 0 15px;
	margin-bottom: 22px;
	font-size: 36px;
	background-color: #5c9dcd;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

/*-------------------------------------------------*/
/*program block -------------*/
/*------------------*/
.program-item {
	padding: 17px 0;
	margin: 0 -15px;
	border-bottom: 1px solid #ccd1d9;
}

.program-item img {
	max-width: 100%;
	height: auto;
}

.program-description {
	overflow: hidden;
}

	.program-description .image-wrap {
		display: inline-block;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 150px;
		float: left;
		margin-right: 15px;
	}

	.program-description .title {
		margin-top: 0;
		color: #51a9f4;
		font-size: 16px;
		letter-spacing: .2px;
	}

	.program-description .coach-type {
		font-size: 16px;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: #51a9f4;
	}

	.program-description .members {
		margin-top: 15px;
		text-indent: 1px;
		font-size: 14px;
		color: #3c5368;
		letter-spacing: .7px;
	}

	.program-description  .number {
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: 0;
		vertical-align: top;
		text-align: center;
		border-radius: 30px;
		background-color: #4a89dc;
		color: #fff;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 14px;
	}

.latest-comment {
	overflow: hidden;
	margin-left: 0;
}

	.latest-comment .image-wrap {
		width: 68px;
		margin: 10px 15px 0 5px;
		float: left;
		text-align: center;
	}

	.latest-comment img {
		border-radius: 100px;
	}

	.latest-comment .status {
		margin: 2px 0 0;
		font-size: 13px;
		color: #4a89dc;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
	}

	.latest-comment .title {
		margin-top: 15px;
		color: #3c5368;
		font-size: 14px;
		font-weight: 700;
	}

	.latest-comment .text {
		margin-top: 4px;
		font-size: 14px;
		color: #7f8389;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.latest-comment .date {
		margin-top: 10px;
		color: #9f9f9f;
		font-size: 14px;
	}

/*-------------------------------------------------*/
/*program name block -------------*/
/*------------------*/
	.program-name thead {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		color: #fff;
		background-color: #3c5368;
		font-size: 13px;
	}

	.program-name thead th {
		border: 0;
	}

	.program-name thead tr th {
		border-bottom: 0;
	}

	.program-name thead th:first-of-type {
		width: 259px;
		text-align: center;
	}

	.program-name tbody tr td {
		text-align: center;
		border: 1px solid #ddd;
		padding: 7px 9px 5px;
		vertical-align: middle;
		font-family: 'Raleway', sans-serif;
		color: #3c5368;
	}

	.program-name tbody tr td:first-of-type {
		padding: 7px 9px 5px;
		text-align: left;
	}

	.program-name .sort {
		display: inline-block;
		width: 12px;
		height: 15px;
		vertical-align: top;
		margin-right: -4px;
		background-image: url('../images/arrows.png');
		cursor: pointer;
	}

	.program-name .message {
		display: inline-block;
		width: 22px;
		height: 15px;
		vertical-align: top;
		background-image: url('../images/message.png');
	}

	.program-name .image-wrap {
		width: 60px;
		height: 60px;
		display: inline-block;
		margin: 0 9px;
		vertical-align: top;
	}

	.program-name img {
		max-width: 100%;
		height: auto;
	}

	.program-name .info-wrap {
		display: inline-block;
		vertical-align: top;
	}

	.program-name .name {
		font-size: 17px;
		color: #3c5368;
	}

	.program-name .phase {
		font-size: 16px;
		font-family: 'Raleway', sans-serif;
		color: #999;
	}

	.program-name .age {
		font-size: 16px;
		font-family: 'Raleway', sans-serif;
		color: #999;
	}

	.program-name .date {
		color: #999;
		margin: 9px 0 -6px;
	}

	.program-name .white {
		color: #3c5368;
		background: #fff;
	}

	.program-name .green {
		color: #fff;
		background: #68e3ac;
	}
	/*TODO need to add other colors*/

/*-------------------------------------------------*/
/*footer -------------*/
/*------------------*/
.footer {
	margin: 20px 0 0;
	padding: 0 15px;
	overflow: hidden;
}

	.footer .copy {
		color: #475870;
		margin-top: 20px;
		font-size: 14px;
		font-family: 'Raleway', sans-serif;
		letter-spacing: -.3px;
	}

	.footer .logo {
		width: 166px;
		height: 60px;
		font-family: 'Raleway', sans-serif;
		background-color: #fff;
		color: #475870;
	}

	.footer .logo::before {
		content: '';
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	}

@media (min-width: 768px) {
	/*-------------------------------------------------*/
	/*global styles -------------*/
	/*------------------*/
	.heading-h2 {
		margin: 30px 0;
	}

	.header {
		padding: 12px 0 15px;
		margin-bottom: 12px;
	}

	/*-------------------------------------------------*/
	/*program block -------------*/
	/*------------------*/
	.program-item {
		margin: 0;
	}

	.program-description .image-wrap {
		width: 150px;
		height: 150px;
		margin-right: 30px;
	}

	.program-description .title {
		margin-top: 25px;
		font-size: 25px;
	}

	.program-description .members {
		font-size: 18px;
	}

	.program-description  .number {
		width: 30px;
		height: 30px;
		margin: -4px 1px 0;
		font-size: 21px;
	}

	.latest-comment {
		margin-left: -15px;
	}

	.latest-comment .title {
		font-size: 16px;
	}

	.latest-comment .text {
		font-size: 17px;
	}

	/*-------------------------------------------------*/
	/*program name block -------------*/
	/*------------------*/
	.program-name .sort {
		float: right;
	}

	/*-------------------------------------------------*/
	/*footer -------------*/
	/*------------------*/
	.footer {
		background-color: #f5f5f5;
	}

	.footer .copy {
		float: left;
	}

	.footer .logo {
		float: right;
		text-align: center;
	}
}